<!DOCTYPE HTML>
<html lang="pl-PL">
    <head>
        <title>Rezerwacja boisk</title>
        <meta charset="UTF-8">
        <meta name="author" content="Piotr Miara">
        <meta content="text/html; chrset=utf-8" http-equiv="Content-Type">
    </head>
    <body>
        <div id="back"></div>
        <header>
            <h1 id="logo">Rezerwacja boisk</h1>
        </header>
        <div id="main_container">
            {% block content %}
            {% endblock content %}
        </div>
        <footer>
        </footer>
    </body>
</html>
