{% extends 'boiska/base.html' %}
{% block content %}
    <h3><a href="{% url 'boiska:place_admin' place_name %}">
        {{ place_name }}</a>
        - edycja rezerwacji
    </h3>
    <h4>{{ reservation }}</h4>
    <form method="POST">
        {% csrf_token %}
        {{ edit_reservation_form.as_p }}
        <button type="submit">Zapisz</button>
    </form>
    <script>
        $(function() {
            $('#id_start_time, #id_end_time').timepicker({
                'timeFormat': 'H:i',
                'disableTextInput': true,
                'scrollDefault': 'now',
            });
        });
    </script>
{% endblock content %}
