{% extends 'boiska/base.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% block content %}
    <a href="{% url 'boiska:place' place_name %}">
        <h3>{{ place_name }}</h3>
    </a>
    <br />
    <h4>Dostępność boisk w dniu {{ date }}</h4>
    {% if result_message %}
    <p>{{ result_message }}</p>
    {% endif %}
    {% for sports_ground in sports_grounds %}
    <div>
        <h5>{{ sports_ground.local_name }}</h5>
        <p>
            {{ sports_ground.opening_time|time:"H:i" }} - 
            {{ sports_ground.closing_time|time:"H:i" }}
        </p>
        {% with reservations=sports_ground.reservations|filter_day:date %}
        {% for reservation in reservations|sort_by:'start_time' %}
            {% if reservation.is_accepted %}
        <div class="reserved">
            {{ reservation.surname }}, {{ reservation.email }}, 
            {{ reservation.start_time|time:'H:i' }} -  
            {{ reservation.end_time|time:'H:i' }}
        </div>
            {% endif %}
        {% endfor %}
        {% endwith %}
    </div>
    {% endfor %}
    {% if display_form %}
    <h4>Zarezerwuj boisko</h4>
    <form method="POST" id="reservation_form">
    {% csrf_token %}
        {{ reservation_form.as_p }}
        <button type="submit">Zarezerwuj</button>
    </form>
    {% endif %}
{% endblock content %}
