{% extends 'boiska/base.html' %}
{% block content %}
    <h3>{{ place_name }}</h3>
    <br />
    <h4>Rezerwacje do zaakceptowania</h4>
    {% for message in result_messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Go</button>
        {{ manage_reservations_form.action }}
        <ul>
        {% for reservation in manage_reservations_form.reservations %}
            <li>
            {{ reservation }} 
            <a href="{% url 'boiska:edit_reservation' place_name reservation.choice_value %}">
                Edytuj
            </a>
            </li>
        {% endfor %}
        </ul>
    </form>
{% endblock content %}
