{% extends 'boiska/base.html' %}
{% load custom_tags %}
{% block content %}
    <h3>{{ place.name }}</h3>
    <p>{{ place.description }}</p>
    <br />
    <h4>Dane kontaktowe:</h4>
    <ul>
        <li>{{ place.street }}, {{ place.city }}</li>
        <li>{{ place.phone_number }}</li>
    </ul>
    <h4>Dostępność boisk</h4>
    <table>
        <tr>
            <td>
                <a href="{% url 'boiska:place' place.name year month|add:-1 %}">&lt;</a>
            </td>
            <th colspan="5">
                {{ month|polish_month_name }}
            </th>
            <td>
                <a href="{% url 'boiska:place' place.name year month|add:1 %}">&gt;</a>
            </td>
        </tr>
        {% for week in calendar %}
        <tr>
            {% for day in week %}
            {% comment %}
            day.0 - month_day
            day.1 - week_day
            day.2 - availability
            {% endcomment %}
            {% if day.0 %}
            <td class="day_color_{{ day.2 }}">
                <a href="{% url 'boiska:place_day' place.name year month day.0 %}">
                    {{ day.0 }}
                </a>
            </td>
            {% else %}
            <td class="blank_day"></td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
{% endblock content %}
