{% extends 'boiska/base.html' %}
{% block content %}
    <h2>{{ place.name }}</h2>
    <p>{{ place.description }}</p>
    <h4>Dane kontaktowe:</h4>
    <ul>
        <li>{{ place.street }}, {{ place.city }}</li>
        <li>{{ place.phone_number }}</li>
    </ul>
    <a href="{% url 'boiska:edit_place' place.name %}">Edytuj dane</a>
    {% for sports_ground in sports_grounds %}
        <h4>{{ sports_ground }}</h4>
    {% endfor %}
    <h3>Rezerwacje do zaakceptowania</h3>
    {% for message in result_messages %}
    <p>{{ message }}</p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Go</button>
        {{ manage_reservations_form.action }}
        <ul>
        {% for reservation in manage_reservations_form.reservations %}
            <li>
            {{ reservation }} 
            <a href="{% url 'boiska:edit_reservation' place.name reservation.choice_value %}">
                Edytuj
            </a>
            </li>
        {% endfor %}
        </ul>
    </form>
{% endblock content %}
